{% extends "./base.html" %}

{% block title %}

    <div>顶部分类
        {% if tag %}
        标签页:{{ tag.name }}
        {% elif category %}
        标签页:{{ category.name }}
        {% endif %}
    </div>
{% endblock %}


{% block main %}

    <ul>
        {% for post in post_list %}
        <li>
            <a href="{% url 'post-detail' post.id %}">{{ post.title }}</a>
            <div>
                <span>作者:{{ post.owner.username }}</span>
                <span>分类:{{ post.category.name }}</span>

            </div>
        </li>
        {% endfor %}
    </ul>
    {% if page_obj %}
        {% if pag_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">上一页</a>
        {% endif %}
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.nex_page_number }}">下一页</a>
        {% endif %}
    {% endif %}


{% endblock %}
